@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --fontFamily: "Roboto", sans-serif;
  --colorBacground: #212529;
  --colorPrimario: #000000;
  --color-boton: #ffb17a;
  --colorSecundario: #ffffff92;
  --colorInput: #676f9d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #fffdfd;
}
ul {
  list-style: none;
}
li {
  color: #000;
}
html,
body {
  font-size: 14px;
  font-family: var(--fontFamily) !important;
  width: 100vw;
  background-color: var(--colorPrimario);
  min-height: 100vh;
}
main {
  text-align: center;
  width: 90%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main h1 {
  border-bottom: 0.5px solid #f5f5f5;
  font-size: 2rem;
}
main p {
  font-size: 1rem;
  padding: 0 0 20px 0;
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.contenedor-hero {
  width: 100%;
  padding: 3%;
  border-radius: 20px;
  max-width: 1740px;
}
.contenedor-formulario {
  width: 50%;
  height: 100%;
  max-width: 400px;
  text-align: center;
  flex-direction: column;
  background-color: var(--colorBacground);
  border-radius: 25px;
  flex-grow: 1;
  padding: 20px;
}
#form-fill {
  width: 100%;
  padding: 38px 32px;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.contenedor-boton {
  background-color: var(--color-boton);
  white-space: nowrap;
  border: none;
  margin-top: 16px;
  outline: none;
  cursor: pointer;
  min-height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.422);
  transition: all 0.3s ease;
  -webkit-transition: all 0.5s ease;
}
.contenedor-boton:hover {
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  color: #000;
}
.input-boton {
  border: none;
  font-size: 1.1rem;
  width: 100%;
  height: 50px;
  letter-spacing: 0.05em;
  font-weight: 500;
  transition: all 0.5s ease;
}
.input-boton:hover {
  color: #000;
  font-weight: 600;
  scale: 1.1;
}

/*Inputs*/

.input-container {
  width: 100%;
  position: relative;
}
.label {
  position: absolute;
  left: 10px;
  top: -23px;
  transition: all 0.2s;
  padding: 0 2px;
  color: #b3b3b3;
  pointer-events: none;
  z-index: 1;
}
.text_input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 1px solid #9794a7;
  border-radius: 5px;
  font-size: 1.2rem;
  outline: none;
  transition: all 0.3s;
  color: #fff;
  background: transparent;
  resize: none;
}
.label::before {
  content: "";
  height: 5px;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
}
.text_input:focus {
  border: 2px solid var(--color-boton);
}
.text_input:focus + .label,
.filled {
  top: -25px;
  color: var(--color-boton);
  font-size: 1rem;
}
.text_input::placeholder {
  font-size: 1.1rem;
  opacity: 0;
  transition: all 0.3s;
}
.text_input:focus::placeholder {
  opacity: 1;
}
/*radios*/
.contenedor-radios {
  width: 80%;
  margin: 0 auto;
  height: 90px;
}
.container-radio {
  justify-content: space-around;
  padding: 20px 0;
}
input[type="radio"] {
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid rgb(220, 220, 230);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
input[type="radio"]:checked {
  border: 2px solid var(--color-boton);
  background-color: var(--color-boton);
}
.busqueda {
  width: 50%;
  height: 95%;
  max-width: 700px;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  position: relative;
  flex-grow: 1;
  padding: 0 20px;
  background-color: var(--colorBacground);
}
.search-box {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 10%);
  background: rgba(82, 81, 86, 0.501);
  border-radius: 50px;
  padding: 13px 20px;
  transition: 0.5s all ease;
}
.search-box:hover #busqueda {
  width: 200px;
  padding: 0 10px;
}
#busqueda {
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s all ease;
  color: #fff;
}
#busqueda:not(:placeholder-shown) {
  width: 100%;
}
#busqueda:focus {
  width: 100%;
  padding: 0 10px;
}
/*CSS de la tabla*/
.container-tabla {
  width: 98%;
  height: 500px;
  border-radius: 12px;
  justify-content: flex-start;
  flex-direction: column;
  color: #000;
  padding: 20px 5px;
  padding-top: 74px;
}
.table {
  width: 100%;
}
.container-tabla .titulo {
  height: 30px;
  text-align: center;
  padding: 5px;
}
.container-tabla .cuerpo button {
  font-size: 0.9rem;
  border: none;
  color: #000;
}
/* Modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111f6;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.modalShow {
  opacity: 1;
  pointer-events: unset;
}

.modal .modal-edit {
  margin: auto;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-auto-columns: 100%;
}
.formulario {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  background-color: var(--colorBacground);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal .botonCerrar {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  font-size: 2rem;
  cursor: pointer;
  font-family: var(--fontFamily);
}
.modal box-icon {
  transition: 0.5s all;
}
.modal box-icon:hover {
  background-color: var(--color-boton);
  box-shadow: 12px 12px 23px -7px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border-radius: 50px;
}
.icon {
  font-size: 1.3rem;
  color: var(--color-boton);
}
.icon-trash {
  font-size: 1.3rem;
  color: #9c1e1e;
}

.totalContenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.ingreTotal {
  color: #5dac14;
  font-size: 1rem;
  font-weight: 400;
}
.egreTotal {
  color: #c51d1d;

  font-size: 1rem;
  font-weight: 400;
}
.resTotal {
  color: #6e90ca;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--colorPrimario);
  padding: 0 25px;
  font-size: 1.2rem;
}
footer p {
  margin: 10px auto;
}
@media screen and (max-width: 1035px) {
  .contenedor-hero {
    flex-direction: column;
    width: 100%;
  }
  .contenedor-formulario {
    width: 100%;
    margin: 10px auto;
  }
  .busqueda {
    width: 100%;
    margin: 10px auto;
    margin-top: 30px;
  }
  .input-container-busqueda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
